body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background-image: url("blackboard1.jpg");
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    background-image: url("texture.png");
    background-size: contain;
    background-color: rgb(151, 98, 98);
    border-radius: 10px;
    justify-content: space-around;
    box-shadow: 13px 1px 30px 10px black, -5px 1px 30px 10px black;
}

#display {
    background-color: rgb(212, 212, 212);
    box-shadow: 0.5px 0.5px 10px 0.5px black;
    width: 85%;
    height: 15%;
    margin-top: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    overflow: hidden;
}

#secondDisplay {
    padding-right: 3%;
    font-size: 1.2em;
    color: grey;
}

#mainDisplay {
    font-size: 3em;
    padding-right: 3%;
    color: hsl(0, 0%, 0%);
}

#buttons {
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

#buttons input {
    cursor: pointer;
    transition: all 0.05s;
    box-shadow: 1.5px 1px 6px 0.5px black;
}

#buttons .digit, #resultBtn, #floatBtn {
    width: 50px;
    height: 50px;
    background-color: hsl(0, 7%, 38%);
    border: solid 2px grey;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

#buttons .operator {
    width: 50px;
    height: 50px;
    background-color: hsl(0, 5%, 12%);
    border: solid 2px grey;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}
.buttonClicked {
    scale: 0.9;
}

#zero {grid-area: 4 / 2;}
#one {grid-area: 3 / 2;}
#four {grid-area: 2 / 2;}
#seven {grid-area: 1 / 2;}

#floatBtn {grid-area: 4 / 3;}
#two {grid-area: 3 / 3;}
#five {grid-area: 2 / 3;}
#eight {grid-area: 1 / 3;}

#resultBtn {grid-area: 4 / 4;}
#three {grid-area: 3 / 4;}
#six {grid-area: 2 / 4;}
#nine {grid-area: 1 / 4;}

#add {grid-area: 4 / 5;}
#subtract {grid-area: 3 / 5;}
#multiply {grid-area: 2 / 5;}
#divide {grid-area: 1 / 5;}

#clearBtn {
    width: 50px;
    height: 50px;
    background-color: hsl(0, 65%, 40%);
    border: solid 2px grey;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    grid-area: 4;
}

#delBtn {
    width: 50px;
    height: 50px;
    background-color: hsl(0, 65%, 40%);
    border: solid 2px grey;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    grid-area: 3;
}

